.special .row1 {
    padding: 10px 20px;
}

.special .titl {
    float: left;
    width: 25%;
    margin-left: 10%;
    border-right: 1px solid #ddd;
}

.special .contt {
    float: left;
    width: 50%;
    margin-right:10%;
    margin-left:5%;
}

.special .err {
    color: #ef6945;
    display: none;
}

.special .err.active {
    display: block;
}