
<app-main-banner></app-main-banner>

<section class="section-2">
  <div class="container">
    <div class="row1 underline">
        <div class="floatleft"><h2>HealthCare Specializations</h2></div>
        <div class="floatright view-mode">
          <div class="btn {{listViewModeClass}}" (click)="setViewMode(1)"><i class="fa fa-list-ul"></i></div>
          <div class="btn {{tileViewModeClass}}" (click)="setViewMode(2)"><i class="fa fa-th-large"></i></div>
        </div>
    </div>
    <ul class="spec-tabbar">
      <li *ngFor="let specType of specTypeList; let num = index" 
        class="tab {{specTypeClassList[num]}}" (click)="getSpecialList(num)">
        {{specType}}
      </li>
    </ul>
    <div class="row">
      <app-special-item *ngFor="let special of specialList" 
        [special]="special" [viewMode]="viewMode" [mine]="false"></app-special-item>
      <app-special-item *ngFor="let special of specialList" 
        [special]="special" [viewMode]="viewMode" [mine]="false"></app-special-item>
    </div>
    <div class="margintop30" align="center">
      <app-pagenator [total]="5" [page]="1" [callback]="pageHandler" ></app-pagenator>
    </div>
  </div>
</section>
