<div class="container-fluid">
  <div class="panel panel-headline underline extend">
    <div class="panel-heading">
      <h3 class="panel-title">User Activity > List</h3>
    </div>
    <div class="panel-body">
      <div class="search-box">
        <div class="row1">
          <div class="col-md-1"><label>Period:</label></div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <input id="begin_date" class="form-control" placeholder="Begin Date" type="text"
                [(ngModel)]="beginDate" />
            </div>
          </div>
          <div class="pull-left"><label>~</label></div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <input id="end_date" class="form-control" placeholder="End Date" type="text"
                [(ngModel)]="endDate" />
            </div>
          </div>
        </div>
        <div class="row1">
          <div class="col-md-1"><label>Keyword:</label></div>
          <div class="col-md-6"><input [(ngModel)]="keyword" type="text" class="form-control" placeholder="searh keyword"></div>
          <div class="col-md-3"><button (click)="search()" class="btn btn-primary btn-primary-bg">Search</button></div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <p>4 row's result for searching.</p>
      <table class="table table-striped margintop10">
        <thead>
          <tr>
            <th width="30">No</th>
            <th width="150">Name</th>
            <th>Content</th>
            <th width="200">Date &amp; Time</th>
            <th width="80"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of activityList; let num = index;">
            <td>{{num + 1}}</td>
            <td>
              <div class="user-info">
              <img src="{{activity.userImage}}" alt="{{activity.userName}}" class="img-circle pull-left avatar">
              <a [routerLink]="['/admin', 'user', 'detail', activity.userId]" class="link-bb name" href="javascript:void(0);">{{activity.userName}}</a>
              </div>
            </td>
            <td>
                <p *ngIf="activity.type == 1">
                  login to the site. 
                </p>
                <p *ngIf="activity.type == 2">
                  registered to the site. 
                </p>
                <p *ngIf="activity.type == 3">
                  updated the profile information.
                </p>
                <p *ngIf="activity.type == 4">
                  logout from the site.
                </p>
                <p *ngIf="activity.type == 5">
                  committed the new rating the <a [routerLink]="['/admin', 'blog', 'detail', activity.value1]" class="link-bb" href="javascript:void(0);">{{activity.value2}}</a>
                </p>
            </td>
            <td>{{activity.regdate}}</td>
            <td><button class="btn btn-danger btn-danger-bg" (click)="deleteActivity(activity.id)" >Delete</button></td>
          </tr>
        </tbody>
      </table>
      <div class="row1">
        <app-pagenator [page]="1" [total]="5" [callback]="pageHandler" ></app-pagenator>
      </div>
    </div>
  </div>
</div>
