<div class="security">
  <div class="row1 underline" style="padding:0">
    <h3>Security</h3>
  </div>
  <div class="row1 margintop30">
    <div class="titl"><label for="">Current Password</label></div>
    <div class="contt">
      <div class="input-box"><input type="password" (blur)="checkCurrentPassword()" [(ngModel)]="currentPassword" /></div>
      <div class="err {{currentPasswordClass}}">
        <i class="fa fa-exclamation-circle"></i>
        This filed is required.
      </div>
    </div>
  </div>
  <div class="row1">
    <div class="titl"><label for="">New Password</label></div>
    <div class="contt">
      <div class="input-box"><input type="password" (blur)="checkNewPassword()" [(ngModel)]="newPassword" /></div>
      <div class="err {{newPasswordClass}}">
        <i class="fa fa-exclamation-circle"></i>
        This filed is required.
      </div>
    </div>
  </div>
  <div class="row1">
    <div class="titl"><label for="">Confirm Password</label></div>
    <div class="contt">
      <div class="input-box"><input type="password" (blur)="checkConfPassword()" [(ngModel)]="confPassword" /></div>
      <div class="err {{confPasswordClass}}">
        <i class="fa fa-exclamation-circle"></i>
        This filed is required.
      </div>
    </div>
  </div>
  <div class="row1" align="center">
    <button class="btn btn-primary" (click)="save()">Save Password</button>
  </div>
</div>
  