.security {
    margin-left: 20px;
}
.security .row1 {
    padding: 10px 20px;
}

.security .titl {
    float: left;
    width: 25%;
    margin-left: 10%;
}

.security .contt {
    float: left;
    width: 55%;
    margin-right:10%;
}

.security .err {
    color: #ef6945;
    display: none;
}

.security .err.active {
    display: block;
}